<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>MilingTable</title>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <form method="get">
                    Name: 
                    {{ productFilter.form.name }}
                    Category: 
                    {{ productFilter.form.category }}
                    Start Date: 
                    {{ productFilter.form.start_date }}
                    End Date: 
                    {{ productFilter.form.end_date }}
                    <button class="btn btn-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
              <br>
                <div class="card">
                    <div class="card-header">
                      Miling Table
                    </div>
                    <br>
                    <div class="card-body">
                      <table class="table " id="table-sortable">
                        <thead class="table-success">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Activity</th>
                          </tr>
                        </thead>
                        <tbody>

                          {% for product in products %}
                            <tr>
                              <td>{{ product.id }}</td>
                              <td>{{ product.name }}</td>
                              <td>{{ product.category }}</td>
                              <td>{{ product.quantity }}</td>
                              <td>{{ product.created_at }}</td>
                              <td>
                                <a class="btn btn-info btn-sm" href="">Edit</a>
                                <a class="btn btn-danger btn-sm" href="">Del</a>
                              </td>
                            </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>

                     
                      <nav aria-label="...">
                        {% if products.has_other_pages %}
                        <ul class="pagination">
                          {% if products.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                          </li>
                          {% endif %}

                          {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                              <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">{{ i }}</a>
                              </li>
                            {% else %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}

                          {% if products.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled">
                            <span class="page-link">Next</span>
                          </li>
                          {% endif %}
                        </ul>
                        {% endif %}
                      </nav>


                    </div>
                  </div>
            </div>
        </div>
    </div>
    
</body>
</html>

<script>

  function sortable(instance){

    // Flags
    instance.sBy = null ; // sort by this column
    instance.sDirection = true; // asc/desc order
    instance.sOrder = []; // calculated sort order

    // Sort Function
    instance.sort = selected => {
      // Update sort flag
      if (instance.sBy == selected.innerHTML) {
        instance.sDirection = !instance.sDirection;
      } else {
        instance.sBy = selected.innerHTML;
        instance.sDirection = true;
      }
      

      // Update css of headers cell
      for (let c of instance.head.rows[0].cells){
        c.classList.remove("sortup");
        c.classList.remove("sortdown");
        if(c == selected){
          c.classList.add(
            (instance.sDirection ? "sortup" : "sortdown")
          );
        }
      }

      // Map out data of the selected column
      // I.E. Create sort order, retain original data
      let map = data[selected.innerHTML].map(
        (v, i) => {return {i: i, v: v}; }
      );

      // sort array
      if (instance.sDirection) {
        map.sort((a, b) => {
          if (a.v > b.v) {return 1;}
          if (a.v < b.v) {return -1;}
          return 0;
        });
      } else {
        map.sort((a, b) => {
          if (a.v < b.v) { return 1; }
          if (a.v > b.v) { return -1; }
          return 0;
        });
      }
      

      // Redraw table with new sort order
      instance.sOrder = [];
      for (let idx in map){ instance.sOrder.push(map[idx].i); }
      
      instance.draw();

    };

    // Draw HTML Table
    instance.draw = () => {
      // Remove old sort order
      instance.body.innerHTML = "";

      // Draw new sort order
      let r, c;
      for (let i of instance.sOrder) {
        r = instance.body.insertRow();
        for (let key in data) {
          c = r.insertCell();
          c.innerHTML = data[key][i];
        }
      }
    }

    // Adapt data from existing table 
    var data = {};

    // Get table sections
    instance.head = instance.querySelector('thead');
    instance.body = instance.querySelector('tbody');

    // Get data from header
    var keys = [];

    for ( let c of instance.head.rows[0].cells){
      data[c.innerHTML] = [];
      keys.push(c.innerHTML);
    }

    // Get data from body
    for (let r of instance.body.rows){
      for (i=0; i<r.cells.length; i++){
        data[keys[i]].push(r.cells[i].innerHTML);
      }
    }
    delete(keys);

    //console.table(data);

    // Click on header cell to start
    instance.classList.add("sorta");
    for (let r of instance.head.rows) {
      for (let c of r.cells) {
        c.onclick = () => instance.sort(c);    
      }
    }

  }

  sortable(document.getElementById("table-sortable"));

</script>

